*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    display: block;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    padding: 50px;
}
label{
    display: block;
    margin-bottom:5px;
}
form div input{
    width:100%;
    height:40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}
form div{
    position:relative;
    margin-bottom:15px;
}
input:focus {
    border: 2px solid #f2796e;
  }
form div i{
    position:absolute;
    padding:10px;
}
.failure-icon,
.error {
  color: red;
}
.success-icon {
  color: green;
}
.error {
  font-size: 14.5px;
  margin-top: 5px;
}
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}
button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #6ef296;
    border: 2px solid #6ef96e;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
  }
  button:hover {
    opacity: 0.8;
  }
  .acceptTerms {
    margin-top: 5px;
    width:auto;

  }
  .user-history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
      rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
      rgba(0, 0, 0, 0.09) 0 -3px 5px;
  }
  .user-history > h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  table {
    table-layout: fixed;
    width: 75vw;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    text-align: center;
  }
  
  td {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
